.mt4-navbar{
    width: 100%;
    justify-content: center;
}
#etapa3{
    justify-content: center;
    text-align: center;
}
#etapa3 form{
    padding: 50px 250px;
    width: 100%;
}
.etapa3btns{
    justify-content: center;
    width: 100%;
    text-align: center;
}
.content-hidden{
    display: none;
}
#etapa3final{
    padding: 50px 250px;
    width: 100%;
    text-align: center;
}
#loginform{
    padding: 50px 300px;
    text-align: left;
}
.comandoresult{
    display: none;
}